# vim: set ft=nginx sw=4:

location @api {
    if ($request_uri ~ ^/(healthz|metrics)) {
        access_log off;
    }

    include fastcgi_params;
    fastcgi_pass $HOMOCHECKER_API_HOST:9000;
    fastcgi_buffering off;
    fastcgi_param SCRIPT_NAME index.php;
    fastcgi_param SCRIPT_FILENAME /var/www/html/api/src/index.php;
}
