# Created by https://www.gitignore.io/api/composer,node

### Composer ###
composer.phar
/vendor/


### Node ###
# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules


### Project Files ###
dest
dev
build


### Configuration ###
app/src/config.php
phpunit.xml
