# Created by https://www.gitignore.io/api/composer,node

### Composer ###
api/vendor
api/.php_cs.cache


### Node ###
# Logs
client/logs
client/*.log
client/npm-debug.log*

# Dependency directories
client/node_modules


### Project Files ###
api/build
client/dist
