services:
  api:
    build:
      context: ./api
      target: dev
    working_dir: /var/www/html/api
    environment:
      HOMOCHECKER_AP_ACTOR_ID: http://localhost/actor
      HOMOCHECKER_AP_ACTOR_PREFERRED_USERNAME: localhost
      HOMOCHECKER_AP_ACTOR_PUBLIC_KEY: /activity_pub_actor.pub
      HOMOCHECKER_AP_ACTOR_PRIVATE_KEY: /activity_pub_actor.key
      HOMOCHECKER_DB_HOST: database
      HOMOCHECKER_DB_USERNAME: homo
      HOMOCHECKER_DB_PASSWORD: homo
      HOMOCHECKER_LOG_LEVEL: debug
    configs:
      - source: activity_pub_actor_public_key
        target: activity_pub_actor.pub
      - source: activity_pub_actor_private_key
        target: activity_pub_actor.key
    volumes:
      - type: bind
        source: ./api
        target: /var/www/html/api

  build:
    build:
      context: ./web
      target: dev
    working_dir: /usr/src
    command: yarn watch
    volumes:
      - type: bind
        source: ./web
        target: /usr/src

  web:
    image: nginx:1.29
    ports:
      - "${HOMOCHECKER_PORT-4545}:80"
    environment:
      HOMOCHECKER_API_HOST: api
    volumes:
      - type: bind
        source: ./web/dist
        target: /var/www/html
        read_only: true
      - type: bind
        source: ./web/conf
        target: /etc/nginx/templates
        read_only: true

  database:
    image: postgres:18.3
    environment:
      PGUSER: homo
      POSTGRES_DB: homo
      POSTGRES_USER: homo
      POSTGRES_PASSWORD: homo
    volumes:
      - type: bind
        source: ./database
        target: /docker-entrypoint-initdb.d
        read_only: true
      - type: volume
        source: database
        target: /var/lib/postgresql/data

configs:
  activity_pub_actor_public_key:
    file: ./api/activity_pub_actor.pub
  activity_pub_actor_private_key:
    file: ./api/activity_pub_actor.key

volumes:
  database:
    driver: local
