<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./app/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./app/src</directory>
            <exclude>
                <file>./app/src/config.php</file>
                <file>./app/src/config.sample.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="coverage-html" target="build/coverage"/>
    </logging>
</phpunit>
