# vim: set ft=nginx sw=4:

root /var/www/html;
server_tokens off;
charset utf-8;

server {
    listen 80 default;
    listen [::]:80 default;
    server_name _;
    keepalive_timeout 0;

    include /etc/nginx/conf.d/locations/*.conf;
}
