@use 'fonts';

html, body {
    margin: 0;
    padding: 0;
    background: #efefef;
    font-family: fonts.$font-family;
}
body {
    margin-top: 60px;
    @media (max-width: 767px), (max-width: 900px) and (orientation: landscape) {
        margin-top: 44px;
    }
}
