name: CD Workflow
on:
  push:
    tags:
      - '*'

defaults:
  run:
    shell: bash

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Unpackage fonts
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase=${{ secrets.FONTS_PASSPHRASE }} --output client/fonts.tar.gz client/fonts.tar.gz.gpg
          cd client/fonts
          tar xf ../fonts.tar.gz
      - name: Log into Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push
        uses: docker/bake-action@v6
        with:
          source: .
          files: docker-bake.hcl
          push: true
          set: |
            api.tags=ghcr.io/chitoku-k/homochecker/api:${{ github.ref_name }}
            web.tags=ghcr.io/chitoku-k/homochecker/web:${{ github.ref_name }}
            web.args.SCM_URL=https://{{ github.server_url }}/${{ github.repository }}/tree/${{ github.sha }}
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
      - name: Set up ID token
        uses: actions/github-script@v8
        id: id-token
        with:
          result-encoding: string
          script: |
            return await core.getIDToken('k8s.chitoku.jp');
      - name: Set context
        run: |
          kubectl config set-cluster k8s.chitoku.jp --server=https://k8s.chitoku.jp
          kubectl config set-credentials github-actions --token=${{ steps.id-token.outputs.result }}
          kubectl config set-context k8s.chitoku.jp --cluster=k8s.chitoku.jp --user=github-actions
          kubectl config use-context k8s.chitoku.jp
      - name: Update images
        run: |
          kubectl set image --field-manager=github-actions deployment/homochecker-app \
            api=ghcr.io/chitoku-k/homochecker/api:${{ github.ref_name }} \
            web=ghcr.io/chitoku-k/homochecker/web:${{ github.ref_name }}
