name: CI Workflow
on:
  push:
    branches:
      - master
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Decrypt fonts
        if: ${{ github.ref_name == 'master' }}
        working-directory: web/src
        run: |
          gpg --quiet --batch --yes --decrypt --passphrase=${{ secrets.FONTS_PASSPHRASE }} --output=fonts.tar.gz fonts.tar.gz.gpg
      - name: Log into Container Registry
        if: ${{ github.ref_name == 'master' }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build
        uses: docker/bake-action@v6
        with:
          source: .
          files: docker-bake.hcl
          push: ${{ github.ref_name == 'master' }}
          set: |
            api.tags=ghcr.io/chitoku-k/homochecker/api:latest
            web.tags=ghcr.io/chitoku-k/homochecker/web:latest
            web.args.SCM_URL=https://{{ github.server_url }}/${{ github.repository }}/tree/${{ github.sha }}
            ${{ github.ref_name == 'master' && 'web.secrets=id=web:src/fonts.tar.gz,src=web/src/fonts.tar.gz' || '' }}
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
