name: Release
on:
  release:
    types:
      - published

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  publish-image:
    name: Publish image
    needs:
      - lint
      - test
    uses: ./.github/workflows/publish-image.yml
    permissions:
      packages: write
    secrets: inherit
    with:
      tags: ${{ github.event.release.tag_name }},latest

  deploy:
    name: Deploy
    needs:
      - publish-image
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Set up kubectl
        uses: azure/setup-kubectl@v4
      - name: Set up kubectl context
        uses: chitoku-k/actions/setup-kubectl-context@master
      - name: Update images
        run: |
          kubectl set image --field-manager=github-actions deployment/homochecker-app \
            api=ghcr.io/chitoku-k/homochecker/api:${{ github.event.release.tag_name }} \
            web=ghcr.io/chitoku-k/homochecker/web:${{ github.event.release.tag_name }}
